@{
    Layout = null;
}
@model MVC_EF_Start.Models.Committee

<!DOCTYPE ='html'>
<html>

<head>

    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='~/css/CandidateCom.css'>

    <title>US Election Insights</title>

</head>

<body>
    <nav>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a asp-area="" asp-controller="Home" asp-action="CandOrCommittee">Candidate</a>
        <a asp-area="" asp-controller="Home" asp-action="Committee">Committee</a>
        <a asp-area="" asp-controller="Home" asp-action="FinancialReport">Financial Report</a>
        <a asp-area="" asp-controller="Home" asp-action="filing">Candidate Filings</a>
        <a asp-area="" asp-controller="Home" asp-action="aboutus">About Us</a>
    </nav>
    <div class="wrapper">

        <div class="clr"></div>
        <header class="headerAndInfo">
            <div class="headerStyle">
                <div class="ActualTitle"><img src="~/img/Favicon.jpg" /> US Election Insights</div>
            </div>

            <div class="AboutWeb">
                This Website is created to provide information about the US elections. You can find information about candidates, committees and important dates related to elections.
                For more information visit <a href="https://www.fec.gov/"> Click here</a>.
            </div>
        </header>

        <div>
            <div>
                <h2 class="FRTitle">Committee Details</h2>
                <form class="ComForm">
                    <h3>To search Committee details </h3>
                    <label for="name_search">Search Committee by ID</label>
                    

                    <select name='committeeID' class="field-style field-split align-right">
                        <option>C00353375</option>
                        <option>C00492579</option>
                        <option>C00628529</option>
                        <option>C00220624</option>
                        <option>C00780585</option>
                    </select>

                    <input type="submit" asp-controller="Home" asp-action="Committee" value="Get Committee Details" method="post" />

                </form>
            </div>


            <div class='divsix'>


                <table class="tbl" border="1" align="center">
                    <tr>
                        <th>Committee ID</th>
                        <th>Committee Name</th>
                        <th>Committee Type</th>
                        <th>Treasurer Name</th>
                        <th>Party Affiliation</th>
                        <th>State</th>
                        <th>Filing Frequency</th>
                    </tr>

                    @if (Model != null)
                    {
                       
                            <tr>
                                <td>@Model.committee_id</td>
                                <td>@Model.committee_name</td>
                                <td>@Model.committee_type</td>
                                <td>@Model.treasurer_name</td>
                                <td>@Model.party_aff</td>
                                <td>@Model.state</td>
                                <td>@Model.filing_freq</td>

                                <td><button type="button" onclick="">Cancel</button></td>
                            </tr>
                      
                    }


                </table>



            </div>
        </div>
        <div class="Contact">
            <ul class="followUS">
                <li>
                    <a href='https://twitter.com/fec' target='_blank'> <img src='~/img/t.png' width='32' height='32'> </a>
                </li>
                <li>
                    <a href='https://www.youtube.com/user/FECTube' target='_blank'><img src='~/img/y.png' width='32' height='32'></a>
                </li>
                <li class="signUp">
                    <a href='https://public.govdelivery.com/accounts/USFEC/subscriber/new?qsp=CODE_RED' target='_blank' style="color:beige">Sign Up for FECEmail</a>
                </li>

            </ul>
        </div>
</body>
</html>