@{
    Layout = null;
}

@model MVC_EF_Start.Models.Filing

<!DOCTYPE ='html'>
<html>

<head>

    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='css/filing.css'>

    <title>US Election Insights</title>

</head>


<body>
    <nav>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a asp-area="" asp-controller="Home" asp-action="CandOrCommittee">Candidate</a>
        <a asp-area="" asp-controller="Home" asp-action="Committee">Committee</a>
        <a asp-area="" asp-controller="Home" asp-action="FinancialReport">Financial Report</a>
        <a asp-area="" asp-controller="Home" asp-action="filing">Candidate Filings</a>
        <a asp-area="" asp-controller="Home" asp-action="aboutus">About Us</a>
    </nav>
    <div class="wrapper">

        <div class="clr"></div>
        <header class="headerAndInfo">
            <div class="headerStyle">
                <div class="ActualTitle"><img src="Favicon.jpg" /> US Election Insights</div>
            </div>

            <div class="AboutWeb">
                This Website is created to provide information about the US elections. You can find information about candidates, committees and important dates related to elections.
                For more information visit <a href="https://www.fec.gov/"> Click here</a>.
            </div>
        </header>
    </div>

    <h2 class="FRTitle">Filing Events </h2>

    <form class="FilingReport">
        <h4>All official records and reports filed by or delivered to the FEC.</h4>
        <h4>Insert Candidate ID below. You can get that from the Candidate/Committe page </h4>
        <div>
            <select name="candidateID" placeholder="Candidate ID">
                <option>P40006033</option>
                <option>P00011569</option>
                <option>P40002172</option>
                <option>S2CO00175</option>
                <option>H0UT03227</option>
            </select>
            <input type="submit" asp-controller="Home" asp-action="filing" value="Get Filing Report" method="post" />
        </div>
    </form>

    <div class="FilingTable">
        <table border="1" class="gridtable">
            <tr>
                <th>Candidate ID</th>
                <th>Form Type</th>
                <th>Form Category</th>
                <th>Document Description</th>
                <th>Means Filed</th>
                <th>Reciept Year</th>
                <th>Form PDF URL</th>
            </tr>
            @if (Model != null)
            {
                <tr>
                    <td>@Model.candidate_id</td>
                    <td>@Model.form_type</td>
                    <td>@Model.form_category</td>
                    <td>@Model.document_description</td>
                    <td>@Model.means_filed</td>
                    <td>@Model.cycle</td>
                    <td>@Model.pdf_url</td>
                </tr>
            }
        </table>

    </div>

    <div class="Contact">
        <ul class="followUS">
            <li>
                <a href='https://twitter.com/fec' target='_blank'> <img src='~/img/t.png' width='32' height='32'> </a>
            </li>
            <li>
                <a href='https://www.youtube.com/user/FECTube' target='_blank'><img src='~/img/y.png' width='32' height='32'></a>
            </li>
            <li class="signUp">
                <a href='https://public.govdelivery.com/accounts/USFEC/subscriber/new?qsp=CODE_RED' target='_blank' style="color:beige">Sign Up for FECEmail</a>
            </li>

        </ul>
    </div>
</body>
</html>